[Unit]
Description='Simple-server service'

[Service]
Type=simple
Restart=always
RestartSec=5s
WorkingDirectory=HOME
ExecStart=HOME/simple-server

[Install]
WantedBy=multi-user.target
